.projects {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);

    @media screen and (min-width: $bp-md){
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $bp-lg) {
        grid-template-columns: repeat(4, 1fr);
    }
}